/*-- scss:defaults --*/
$light: #fdf6e3 !default;
$dark: #073642 !default;
$body-bg: $light !default;
$body-color: $dark !default;
$code-color: $dark !default;

/*-- scss:rules --*/
header, h1, h2, h3, h4, h5, h6, navbar, #TOC {
  font-family: "Fira Code";
}

table, th, td, tr {
  font-family: "Fira Code";
  border: none;
}
