/*-- scss:defaults --*/

@font-face {
  font-family: "Iosevka Etoile";
  src: url("assets/IosevkaEtoile/IosevkaEtoile-Regular.ttc");
}

@font-face {
  font-family: "Latin Modern Roman";
  src: url("assets/lmroman10-regular.otf");
}

@font-face {
  font-family: "Latin Modern Mono";
  src: url("assets/lmmono10-regular.otf");
}

.MathJax {
  font-family: "Latin Modern" !important;
}

@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');